@font-face {
  font-family: "ProximaNova-Regular";
  src: url("fonts/proximanova-regular-webfont.woff2") format("woff2");
  src: url("fonts/proximanova-regular-webfont.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "ProximaNovaT-Thin";
  src: url("fonts/proximanovat-thin-webfont.woff2") format("woff2");
  src: url("fonts/proximanovat-thin-webfont.woff") format("woff");
  font-style: normal;
  font-weight: 100;
}

@font-face {
  font-family: "ForeverBrushScript";
  src: url("fonts/forever_brush_script-webfont.woff2") format("woff2");
  src: url("fonts/forever_brush_script-webfont.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Font-Awesome-5-Brands-Regular";
  src: url("fonts/fa-brands-400-webfont.woff2") format("woff2");
  src: url("fonts/fa-brands-400-webfont.woff2") format("woff");
  font-style: normal;
  font-weight: 400;
}

body {
font: normal 400 18px/32px "ProximaNova-Regular", sans-serif;
}

h2 {
  font: normal 400 56px/32px "ForeverBrushScript", sans-serif;
  position: relative;
}

h3,
h4 {
  text-align: left;
}

h4 {
  font-size: 18px;
}

h2::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translate(-50%);
  width: 109px;
  height: 2px;
  background: #c8235d;
}

h2.our-story_head::after {
  background: #fff;
}

.container {
  width: 1150px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wraper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  flex-grow: 1;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  font: normal 400 16px/16px "ProximaNova-Regular", sans-serif;
  padding-top: 60px;
}

.nav-list,
.nav-list_general {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style-type: none;
  font-size: 16px;
}

.nav-list a,
.nav-list_general a,
.nav-list_info a {
  display: inline-block;
  padding: 3px 15px;
  color: #fff;
  text-decoration: none;
}

.nav-list a:hover,
.nav-list li.active a,
.nav-list_general a:hover,
.nav-list_general li.active a,
.nav-list_info a:hover,
.nav-list_info.active a,
.icons a:hover {
  border-bottom: 1px solid #808080;
}

.nav-list_info a {
  border-bottom: 1px solid transparent;
}

.nav-list li.active a,
.nav-list_general li.active a,
.nav-list_info li.active a {
  cursor: auto;
}

.main-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.intro {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: url("images/bg-intro.jpg");
  min-height: 100vh;
  font: normal 400 20px/36px "ProximaNova-Regular", sans-serif;
  color: #fff;
  margin-top: -100px;
}

.banner_text {
  max-width: 740px;
  margin: 0 205px;
}

.head_title {
  font: normal 100 72px/32px "ProximaNovaT-Thin", sans-serif;
  text-transform: uppercase;
}

.our-story {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #962323;
  font: normal 400 18px/32px "ProximaNova-Regular", sans-serif;
  color: #fff;
  text-align: center;
  padding: 120px 0;
}

.img1 {
  width: 450px;
}

.text {
  display: block;
  flex-wrap: wrap;
  width: 530px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.our-story_head {
  padding: 30px;
  margin-top: 0;
}

.singatures {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: url("images/bg-content.jpg");
  font: normal 400 18px/32px "ProximaNova-Regular", sans-serif;
  color: #fff;
  padding-top: 105px;
  padding-bottom: 105px;
}

.singatures_head {
  padding: 30px;
  margin-top: 0;
}

.singatures_text {
padding: 0 305px;
}

.our-menu {
  background-color: #f3f4f7;
  font: normal 400 16px/20px "ProximaNova-Regular", sans-serif;
  color: #0b0c0d;
  padding: 80px 0;
}

.nav-list_our-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.our-menu_head {
  color: #000;
  text-align: center;
  padding: 30px;
  margin-top: 0;
}

.title_our-menu {
  text-align: left;
}

.price {
  color: #c8235d;
  float: right;
}

.flex-item {
  flex-basis: 50%;
  list-style-type: none;
}

.flex-item:nth-child(odd) {
  padding: 10px 70px 10px 0;
}

.flex-item:nth-child(even) {
  padding: 10px 0 10px 70px;
}

.pictures {
  display: flex;
  overflow: hidden;
}

.footer-info {
  background: #252529;
  font: normal 400 14px/24px "Roboto-Regular", sans-serif;
  color: #fff;
  padding: 80px 0;
}

.restaurant {
  flex: 1 1 35%;
  padding: 15px;
}

.scm {
  flex: 2 1 45%;
  padding: 15px;
}

.contact_us {
  flex: 1 1 20%;
  padding: 15px;
  font: bold 700 14px/24px "Roboto-Bold", sans-serif;
}

.title_restaurant {
  font: normal 400 26px/24px "Font-Awesome-5-Brands-Regular", sans-serif;
  margin-top: 10px;
  margin-bottom: 50px;
}

.title_contact_us {
margin-top: 35px;
}

.container_scm {
  max-width: 600px;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
}

.nav-list_info {
  margin: 0;
  padding: 0;
}

.main-nav_info {
  padding: 10px 0;
}

.nav-list_info li,
.nav-list_contact_us li {
  list-style-type: none;
  text-align: left;
}

.nav-list_info li a,
.main-nav_contact_us li a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  margin: 5px 0;
  padding: 0;
}

.about {
  flex: 1 1 33.33%;
  padding: 0 25px;
  margin: 0;
}

.nav-list_contact_us {
  padding: 0;
}

.nav-list_contact_us i {
  font-size: 15px;
  color: #c8235d;
  margin: 10px 10px 10px 0;
}

.footer-general {
  background: #16171b;
  font: normal 400 16px/24px "Roboto-Regular", sans-serif;
  color: #8b8b8d;
  padding: 20px 0;
}

.copyrights {
  flex: 1 1 25%;
  padding: 15px;
}

.general {
  flex: 2 1 45%;
  padding: 15px;
}

.icons {
  flex: 1 1 30%;
  padding: 15px;
}

.icons a,
.nav-list_general a {
  padding: 1px 5px;
  margin: 1px 5px;
  color: #8b8b8d;
}
